.sidebar {
    color: #fff;
    width: 250px;
    height: 100vh;
    background-color: rgba(18, 23, 35, 1);
    padding: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #fff;
        padding: 20px;

        p {
            font-size: 18px;
            font-weight: 700;
        }
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;

        .navigate {
            cursor: pointer;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin-top: 10px;
                    padding: 15px;

                    &:hover {
                        background-color: rgba(42, 121, 255, 1);
                        border-radius: 5px;
                    }

                    a {

                        text-decoration: none;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }

        .footer {
            border-top: 2px solid #fff;
            padding: 20px;

            .user-role {
                display: flex;
                justify-content: start;
                align-items: center;

                svg {
                    margin-right: 10px;
                }

                h1 {
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 14px;
                    color: rgba(102, 102, 102, 1);
                }
            }

            .logout {
                cursor: pointer;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 20px;

                svg {
                    margin-right: 10px;
                }

            }
        }
    }


}